@using Equinox.Models
@model Equinox.Models.DomainModels.ClassCategory

@{
    var isEdit = Model != null && Model.ClassCategoryId != 0;
    string title = (isEdit ? "Edit" : "Add") + " Class Category";
    ViewData["Title"] = title;
}

<h2>@ViewData["Title"]</h2>

@if(TempData["ModelError"] != null)
{
    <div class="text-danger">@TempData["ModelError"]</div>
}

<form asp-action="@(Model.ClassCategoryId != 0 ? "Edit" : "Create")" method="post">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image File Name</label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
